<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.demo.dao.HotelAccessPermissionUserRelaMapper">
  <resultMap id="BaseResultMap" type="com.generator.demo.entity.HotelAccessPermissionUserRela">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_extra_id" jdbcType="BIGINT" property="userExtraId" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
    <result column="operate_status" jdbcType="TINYINT" property="operateStatus" />
    <result column="env" jdbcType="VARCHAR" property="env" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, user_id, user_extra_id, group_id, permission_id, enable, operate_status, 
    env, status, creator, modifier, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hotel_access_permission_user_rela
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hotel_access_permission_user_rela
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.generator.demo.entity.HotelAccessPermissionUserRela">
    insert into hotel_access_permission_user_rela (id, project_id, user_id, 
      user_extra_id, group_id, permission_id, 
      enable, operate_status, env, 
      status, creator, modifier, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{projectId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{userExtraId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT}, 
      #{enable,jdbcType=TINYINT}, #{operateStatus,jdbcType=TINYINT}, #{env,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=BIGINT}, #{gmtModified,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.generator.demo.entity.HotelAccessPermissionUserRela">
    insert into hotel_access_permission_user_rela
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userExtraId != null">
        user_extra_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="operateStatus != null">
        operate_status,
      </if>
      <if test="env != null">
        env,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userExtraId != null">
        #{userExtraId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
      <if test="operateStatus != null">
        #{operateStatus,jdbcType=TINYINT},
      </if>
      <if test="env != null">
        #{env,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.demo.entity.HotelAccessPermissionUserRela">
    update hotel_access_permission_user_rela
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userExtraId != null">
        user_extra_id = #{userExtraId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
      <if test="operateStatus != null">
        operate_status = #{operateStatus,jdbcType=TINYINT},
      </if>
      <if test="env != null">
        env = #{env,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.demo.entity.HotelAccessPermissionUserRela">
    update hotel_access_permission_user_rela
    set project_id = #{projectId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      user_extra_id = #{userExtraId,jdbcType=BIGINT},
      group_id = #{groupId,jdbcType=BIGINT},
      permission_id = #{permissionId,jdbcType=BIGINT},
      enable = #{enable,jdbcType=TINYINT},
      operate_status = #{operateStatus,jdbcType=TINYINT},
      env = #{env,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modified = #{gmtModified,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>